@model NominaProject.Models.TransactionRegister

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TransactionRegister</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeIdEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeIdEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDeductionOrIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDeductionOrIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeTransactionIdTypeTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeTransactionIdTypeTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTransaction">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
