@model NominaProject.Models.TransactionRegister

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="row">
        <div class="col-8">
            <ul class="list-group shadow">
                <li class="list-group-item details-header" style="background: #429834 !important;">
                    <div class="lead"><h3>Details of Transaction Registers</h3></div>
                </li>
                <li class="list-group-item">
                    <span class="lead">Employee:</span>
                    <br />
                    <span>@Html.DisplayFor(model => model.Employee.FirstName) @Html.DisplayFor(model => model.Employee.LastName)</span>
                </li>
                <li class="list-group-item">
                    <span class="lead">
                        Id Deduction:
                    </span>
                    <br />
                    <span>
                        @Html.DisplayFor(model => model.IdDeductionOrIncome)
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="lead">
                        Type:
                    </span>
                    <br />
                    <span>
                        @Model.TypeTransaction.TypeName
                    </span>
                </li>

                <li class="list-group-item">
                    <span class="lead">
                        Date:
                    </span>
                    <br />
                    <span>
                        @Model.Date
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="lead">
                        Amount:
                    </span>
                    <br />
                    <span>
                        @Model.Amount.ToString("C")
                    </span>
                </li>
                <li class="list-group-item">
                    <a asp-action="Edit" asp-route-id="@Model.IdTransaction" class="badge badge-edit">Edit</a> |
                    <a asp-action="Index" class="badge badge-back">Back to List</a>
                </li>
            </ul>
        </div>
    </div>
</div>
