
@{
    ViewData["Title"] = "DashBoard";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left border-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total Payroll
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.NomineeTotal.ToString("C")</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left border-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Department
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.NumberDepartment</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-building fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left border-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Employees
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.NumberEmployees</div>
                        </div>

                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-info"></i>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left border-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Transaction Total
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TransactionTotal.ToString("C")</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-arrow-right-arrow-left fa-2x text-warning"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-6 mb-4">

            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">NominaProject System</h6>
                </div>
                <div class="card-body">
                    <p>
                        This project is designed to help companies to easily manage and monitor their payroll. 
                        It has useful tools for monitoring multiple payroll options such as the sum of the total salaries paid and the total number of employees hired. 
                        It has a short learning process to be implemented in the shortest possible time in any company.
                    </p>
                </div>
            </div>

        </div>

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Color System -->
            <div class="row">
                <div class="col-xl5 col-md-8 mb-4">
                    <div class="card bg-primary text-white shadow">
                        <div class="card-body" style="font-size:17px;">
                            Biggest Department
                                <div class="text-white-50 small" style=" font-size: 15px;">@ViewBag.BiggestDepartment</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl5 col-md-8 mb-4">
                    <div class="card bg-success text-white shadow">
                        <div class="card-body" style="font-size:17px;">
                            Number Transactions
                            <div class="text-white-50 small" style="font-size:15px;">@ViewBag.NumberTransaction</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>