@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NominaProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.css" />
    <script src="~/js/all.js"></script>
</head>
<body>
    @{var Year = DateTime.Now.Year;}
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Nomina<span class="text-primary">Project</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Employee.IsLogged)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Employees
                                </a>
                                <ul class="dropdown-menu menu-drop" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item menu-element" asp-area="" asp-controller="Employees" asp-action="Index">List of Employees</a></li>
                                    <li><a class="dropdown-item menu-element" asp-area="" asp-controller="Employees" asp-action="Create">Create New</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Departments
                                </a>
                                <ul class="dropdown-menu menu-drop" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item menu-element" asp-area="" asp-controller="Departments" asp-action="Index">List of Departments</a></li>
                                    <li><a class="dropdown-item menu-element" asp-area="" asp-controller="Departments" asp-action="Create">Create New</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Job Positions
                                </a>
                                <ul class="dropdown-menu menu-drop" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item menu-element" asp-area="" asp-controller="JobPositions" asp-action="Index">List of Jobs</a></li>
                                    <li><a class="dropdown-item menu-element" asp-area="" asp-controller="JobPositions" asp-action="Create">Create New</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Transaction Log
                                </a>
                                <ul class="dropdown-menu menu-drop" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item menu-element" asp-area="" asp-controller="TransactionRegisters" asp-action="Index">Logs</a></li>
                                    <li><a class="dropdown-item menu-element" asp-area="" asp-controller="TransactionRegisters" asp-action="Create">Create New</a></li>
                                    <li><div class="dropdown-divider"></div></li>
                                    <li><a class="dropdown-item menu-element" asp-area="" asp-controller="Deductions" asp-action="Index">Deduction</a></li>
                                    <li><a class="dropdown-item menu-element" asp-area="" asp-controller="Incomes" asp-action="Index">Income</a></li>

                                </ul>

                            </li>
                        }
                        else
                        {

                            <li class="nav-item">
                                <a class="nav-link text-white link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav">
                        @if (Employee.IsLogged)
                        {
                            <li class="nav-item">
                                <span class="nav-link text-white link" title="Manage">Hello @GetNameAndLastName.Name @GetNameAndLastName.LastName!</span>
                            </li>
                            @using (Html.BeginForm("Logout", "Users"))
                            {
                                <li class="nav-item">
                                    <form id="logoutForm" class="form-inline">
                                        <input id="Logout" type="submit" class="nav-link text-white link" value="Logout" style="background: rgba(0,0,0,0);border: 0px;" />
                                    </form>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" id="login" asp-controller="Users" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        <footer class="shadow bg-dark text-white footer-style">
            <div class="d-flex align-items-center justify-content-between mx-auto py-4 flex-wrap"
                 style="width: 80%">
                <div class="d-flex align-items-center">
                    <a href="/" class="d-flex align-items-center p-0 text-dark">
                        <span class="ml-4 h5 mb-0 font-weight-bold text-white" style="font-size: 20px;">Nomina<span class="text-primary">Project</span></span>
                    </a>
                </div>
                <div>
                    <small class="ml-2">&copy; NomineeProject, @Year. All rights reserved.</small>
                </div>
                <div class="d-flex">
                    <button class="btn btn-light btn-footer p-2">
                        <i class="fa-brands fa-facebook" style="color:blue;"></i>
                    </button>
                    <button class="btn btn-light btn-footer p-2">
                        <i class="fab fa-twitter" style="color:deepskyblue;"></i>
                    </button>
                    <button class="btn btn-light btn-footer p-2">
                        <i class="fa-brands fa-instagram" style=" background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); color: black; border-radius: 3px;"></i>
                    </button>
                </div>
            </div>
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
