@model IEnumerable<NominaProject.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.departmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departmentLeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPayroll)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.departmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departmentLeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPayroll)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
