@model IEnumerable<NominaProject.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Documents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlySalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Documents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlySalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.IdUsers)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEmployee">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEmployee">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEmployee">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
