@model NominaProject.JobPosition

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>JobPosition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiskLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiskLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSalary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPosition">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
