@model IEnumerable<NominaProject.JobPosition>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PositionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RiskLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RiskLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinSalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPosition">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPosition">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPosition">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
